{% extends "base.html" %}
{% load static %}
{% load reviews %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Portfolio</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for portfolio in portfolios %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if portfolio.image %}
                                <a href="{% url 'portfolio_detail' portfolio.id %}">
                                    <img class="card-img-top img-fluid" src="{{ portfolio.image.url }}" alt="{{ portfolio.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'portfolio_detail' portfolio.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ portfolio.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ portfolio.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">{% get_review_count for portfolio as review_count %} {{ review_count }} Reviews.</p>
                                            {% if portfolio.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ portfolio.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_portfolio' portfolio.id %}">Edit</a> |
                                                    <a class="text-danger" href="{% url 'delete_portfolio' portfolio.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                            {% render_review_list for portfolio %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col{% if s %}-12 mt-2{% endif %}">
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'portfolio_detail' portfolio.id %}" class="btn btn-black rounded-0 text-uppercase mt-2">Write A Review</a>
                                    {% else %}
                                        <a class="btn btn-black rounded-0 text-uppercase mt-2" href="{% url 'account_login' %}">Sign In</a>
                                        <a class="btn btn-black rounded-0 text-uppercase mt-2" href="{% url 'account_signup' %}">Sign Up</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
