


<!DOCTYPE html>
<html lang="en">
  <head>


        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">






        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap">
        <link rel="shortcut icon" href="/static/favicon/favicon-16x16.png"/>
        <link rel="stylesheet" href="/static/css/base.css">






        <script src="https://kit.fontawesome.com/b470763fc0.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>





    <title>Design Lab </title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="/" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Design</strong> Lab</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="/products/">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account <i class="fas fa-caret-down"></i></p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">


                                    <a href="" class="dropdown-item">Project Management</a>

                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="/accounts/logout/" class="dropdown-item">Logout</a>

                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-black nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">

                                      £0.00 Quote

                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <li class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="/products/">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">My Account <i class="fas fa-caret-down"></i></p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">


                <a href="/accounts/logout/" class="dropdown-item">Project Management</a>

            <a href="" class="dropdown-item">My Profile</a>
            <a href="/accounts/logout/" class="dropdown-item">Logout</a>

    </div>
</li>
<li class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">

                    £0.00 Quote

            </p>
        </div>
    </a>
</li>
                <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Designs <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-categories-link">
                <a href="/products/?category=Posters" class="dropdown-item">Posters</a>
                <a href="/products/?category=Logos" class="dropdown-item ">Logos</a>
                <a href="/products/?category=Icons" class="dropdown-item ">Icons</a>
                <a href="/products/?category=Posters,Logos,Icons" class="dropdown-item">All Designs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="our-work-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Work <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="our-work-link">
                <a href="" class="dropdown-item">Our Posters</a>
                <a href="" class="dropdown-item">Our Logos</a>
                <a href="" class="dropdown-item">Our Icons</a>
                <a href="" class="dropdown-item">All Our Work</a>
            </div>
        </li>
    </ul>
</div>
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">Instant Free Quotes on all designs!!!</h4>
            </div>
        </div>
    </header>




    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>



    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">

                                <a href="/products/1">
                                    <img class="card-img-top img-fluid" src="/media/2.jpg" alt="Poster Design Pack 1">
                                </a>

                                <div class="card-body pb-0">
                                    <p class="mb-0">Poster Design Pack 1</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£53.99</p>

                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>4.60 / 5</small>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>





                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">

                                <a href="/products/2">
                                    <img class="card-img-top img-fluid" src="/media/2_vFE3g5g.jpg" alt="Poster Design Pack 2">
                                </a>

                                <div class="card-body pb-0">
                                    <p class="mb-0">Poster Design Pack 2</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£58.99</p>

                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>4.60 / 5</small>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>


                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>




                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">

                                <a href="/products/3">
                                    <img class="card-img-top img-fluid" src="/media/2_mf6OiKy.jpg" alt="Poster Design Pack 3">
                                </a>

                                <div class="card-body pb-0">
                                    <p class="mb-0">Poster Design Pack 3</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£205.99</p>

                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>4.70 / 5</small>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>



                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>



                </div>
            </div>
        </div>
    </div>






  </body>
</html>