<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Designs <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-categories-link">
                <a href="{% url 'products' %}?category=Posters" class="dropdown-item">Posters</a>
                <a href="{% url 'products' %}?category=Logos" class="dropdown-item ">Logos</a>
                <a href="{% url 'products' %}?category=Icons" class="dropdown-item ">Icons</a>
                <a href="{% url 'products' %}?category=Posters,Logos,Icons" class="dropdown-item">All Designs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="our-work-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Work <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="our-work-link">
                <a href="" class="dropdown-item">Our Posters</a>
                <a href="" class="dropdown-item">Our Logos</a>
                <a href="" class="dropdown-item">Our Icons</a>
                <a href="" class="dropdown-item">All Our Work</a>
            </div>
        </li>
    </ul>
</div>